@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }

  section {
    @apply my-8;
  }

  h1 {
    @apply font-bold;
    @apply text-4xl;
  }

  h3 {
    @apply font-semibold;
    @apply text-2xl;
    @apply mt-6;
  }

  h4 {
    @apply font-semibold;
    @apply text-xl;
    @apply mt-4;
  }

  h5 {
    @apply font-semibold;
    @apply text-base;
    @apply mt-2;
  }

  p {
    @apply my-2;
  }

  ul {
    list-style-type: revert;
    @apply list-outside;
    @apply ml-6;
  }

  ol {
    @apply list-decimal;
    @apply list-outside;
    @apply ml-6;
  }

  li {
    @apply my-1;
  }

  pre {
    @apply my-2;
  }

  :not(pre) > code {
    @apply px-1;
    @apply py-0.5;
    @apply rounded;
    @apply text-red-700;
    @apply bg-gray-200;
  }

  a code {
    @apply opacity-70;
    @apply text-red-700;
  }

  b {
    @apply font-semibold;
  }

  table {
    @apply table-auto;
    @apply w-full;
    @apply text-left;
  }

  th,
  td {
    @apply p-4;
  }

  tr {
    @apply border;
    @apply border-blue-gray-100;
  }

  .container {
    @apply flex;
    @apply h-screen;
    max-width: revert !important;
  }

  .sidebar-wrapper {
    @apply relative;
    @apply transition-transform;
  }

  .sidebar-wrapper.closed {
    @apply -translate-x-80;
  }

  .sidebar {
    @apply overflow-y-auto;
    @apply w-80;
    @apply h-full;
    @apply bg-gray-50;
    @apply font-medium;
  }

  .sidebar a {
    @apply hover:underline;
  }

  .main {
    @apply flex-1;
    @apply overflow-y-auto;
    @apply transition-[margin];
    @apply hidden;
    @apply sm:block;
  }

  .sidebar-wrapper.closed + .main {
    @apply -ml-80;
    @apply block;
  }

  .toggle {
    @apply absolute !important;
    @apply left-full;
    @apply top-1/2;
    @apply -translate-y-1/2;
    @apply max-h-none !important;
    @apply w-6 !important;
    @apply h-12 !important;
    @apply text-gray-600 !important;
    @apply hover:text-gray-900 !important;
    @apply bg-gray-200;
    @apply rounded-l-none !important;
  }

  .content {
    @apply mt-20;
    @apply mb-[350px];
    @apply sm:mt-28;
    @apply sm:mb-[30vh];
    @apply px-4;
    @apply max-w-3xl;
    @apply mx-auto;
  }

  .content a {
    @apply text-gray-500;
    @apply underline;
  }

  .demo img {
    max-width: revert;
    height: revert;
  }
}
